<h1>Stupid Coaching</h1>

<div class ="cardquestion">
<p> <%= @question %>
<br>-You</p>
</div>

<div class ="cardanswer">
<p> <%= @answer %>
<br>-Your coach</p>
</div>

<div>
<%= link_to "Ask a new question", ask_path %>
</div>
